In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_text
from sklearn.model_selection import cross_validate, train_test_split
import graphviz

In [18]:
df = pd.read_csv('ShootingSplits_HeatCheckTourwTrap.csv')
df.head(2)

,Unnamed: 0,YEAR,TEAM NO,TEAM ID,TEAM,CONF,DUNKS FG%,DUNKS SHARE,DUNKS FG%D,DUNKS D SHARE,...,POWER,PATH,DRAW,WINS,POOL VALUE,POOL S-RANK,NCAA S-RANK,VAL Z-SCORE,POWER-PATH,Within Trapezoid of Excellence
0,0.0,2024.0,1079.0,2.0,Akron,MAC,97.2,6.8,90.6,5.6,...,54.3,79.8,NaN,0,2.0,54.0,54.0,NaN,-25.5,0.0
1,1.0,2024.0,1078.0,3.0,Alabama,SEC,81.9,9.5,89.2,7.3,...,77.3,66.4,NaN,4,39.0,13.0,16.0,NaN,10.9,0.0

In [16]:
df = df.dropna(axis=1)
df_test = df[df['YEAR'] == 2024]
df_train.tail(2)

KeyError: 'YEAR'

In [ ]:
X_train = df_train.drop(['Unnamed: 0','YEAR','TEAM NO','TEAM ID','TEAM','CONF','WINS','ROUND'],axis=1)
X_test = df_test.drop(['Unnamed: 0','YEAR','TEAM NO','TEAM ID','TEAM','CONF','WINS','ROUND'],axis=1)
y_train = df_train.WINS
y_test = df_test.WINS
y_test.head(5)

In [ ]:
X_train = (X_train - X_train.mean())/X_train.std()
X_test = (X_test - X_test.mean())/X_test.std()

In [ ]:
dtree = DecisionTreeClassifier(max_depth=2)
dtree.fit(X_train,y_train)

In [ ]:
dtree.score(X_train,y_train)

In [ ]:
dtree_string = export_text(dtree,feature_names = list(X_train.columns),decimals = 1, spacing = 6)
print(dtree_string)

In [ ]:
cv_results = cross_validate(dtree,X_train,y_train)
acc_valid = cv_results['test_score'].mean()
print('validation accuracy rate',acc_valid)

In [ ]:
dtree.score(X_test,y_test)